
.productImage{
    width: auto;
    height: 330px;
}

.itemInfo{
  width: 356px;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  width: 338px;
  height: 444px;
  padding: 20px;
}
.cardContainer_attributes{
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  align-items: flex-start;
  width: 346px;
  height: 444px;
  padding: 20px;
}
.shopCartIcon{
  position: absolute;
  cursor: pointer;
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: 300px;
  margin-left: -30px;
}
.ProductCard_OutofStock{
  font-size: 24px;
  color: #8D8F9A;
  position: absolute;
  margin-top: 150px;
  margin-left: 90px
}
.ProductCard_addToCart{
  width: 292px;
  height: 52px;
  background: #5ECE7B;
  border: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 40px;
  cursor: pointer;
  margin-top: 30px;
}
