.PDP_Container{
    display: flex;
    padding-top: 80px;
}
.PDP_SubContainer{
    display: flex;
}
.PDP_Img_Container{
    display: flex;
    flex-direction: column;
    height: 511px;
    justify-content: space-between;
    margin-right: 40px;
}
.PDP_RenderedImages{
    height: 80px;
    width: auto;
    cursor: pointer;
}
.PDP_Image{
    margin-right: 100px;
    height: 511px;
}
.PDP_Description{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    .PDP_Container{
        display: flex;
        flex-direction: column;
    }
    .PDP_Img_Container{
        height: 150px;
    }
    .PDP_SubContainer{
        margin-bottom: 50px;
    }
    .PDP_Image{
        margin-right: 100px;
        height: 200px;
        width: auto;
    }
    .PDP_RenderedImages{
        width: 50px;
        
    }
}